/* Estilos adicionais para o App */

.sidebar {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 1000;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    max-width: 200px;
}

.sidebar h3 {
    margin-top: 0;
}

.sidebar h4 {
    margin-bottom: 5px;
    margin-top: 10px;
}

.sidebar p {
    margin: 0;
}
